.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 58px;
  padding: 6px;
  color: white;
}
.Top-div{
  background-color: #fff;
  padding:10px;
}
.Top-div b{
  font-size:24px;
}
.Top-div-content-title{
  font-size: 18px;
  padding:0 14px;
}
.Top-div-content{
  text-align: left;
  font-size: 16px;
}
.Top-div-content p{
  margin-top:10px;
  margin-bottom:10px;
}
.Top-div-content-list{
  margin:0 40px;
  border-bottom: 1px solid #999;
}
.Top-div-content-list span{
  float: right;
}
.Top-div-content-list-total{
  margin-right:40px;
  overflow: hidden;
}
.Top-div-content-list-total span{
  float: right;
  color: #FF9900;
}
.Bottom-div{
  margin-bottom:15px;
}
.fenqi-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color:#fff; 
  display: flex;
}
.signIn-content{
  margin-top:50px;
  margin-bottom:50px;
  padding:0 20px;
  background: #fff;
}
.fixed-bottom{
  position: fixed;
  bottom:0;
  left:0;
  height:45px;
  width:100%;
  z-index: 999;
}
.fenqi-modal .header{
  position: fixed;
  height:50px;
  width: 100%;
  background:#1DA57A;
  height: 45px;
  color: #fff;
}
.wrapper{
  margin-top:50px;
  position: relative;
  overflow-x: hidden;
  overflow-y:auto; 
  height:auto;
  width: 100%;
}
.close-modal{
  position: absolute;
  left: 15px;
  top: 11px;
}
.fixed-content{
  position:fixed;
}
.fixed-div{
  overflow-y: scroll; overflow-x: hidden;
}
.fenqi-modal image{
  position: absolute;
  left: 0;
  top:0;
  z-index: 1000;
  width:100%;
  height:100%;
}
.fenqiContent{
  background-color:rgb(102, 102, 102);
  color:#fff;
  padding: 1px;
  font-size: 18px;
}
.fenqi-fixed{
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  background: rgb(102, 102, 102);
}
.fenqi-list{
  margin-top:179px;
  padding-left:  20px;
  padding-right:  20px;
  background: #fff;
}
.fenqi-list span{
  float: right;
  color:#FF9900;
}
.fenqi-list-content{
  padding:0 40px;
}
.fenqi-modal-content{
  overflow: hidden visible;
  height: auto;
  position: relative;
  display: block;
}
.Top-div-p{
  font-size:18px;
  text-align: left;
  border-bottom: 1px dashed #999;
  padding-bottom:5px;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.am-list-item .am-list-line .am-list-content {
  display: flex;
}
.calendar-list .right {
    float: right;
}
.cardIdTitle{
  text-align: center;
}
.cardId,.backCardId {
  text-align: center;
}
.cardId :global(.am-image-picker-list .am-flexbox .am-flexbox-item:after){
  padding-bottom:60%;
}
.backCardId :global(.am-image-picker-list .am-flexbox .am-flexbox-item:after){
  padding-bottom:60%;
}

.sign-input :global(.am-list-item .am-input-control input){
  border: 1px solid #ddd;
  border-radius: 3px;
  height:34px;
}
.pdf-view{
  width:100%;
}
.result-example .spe {
  width: 60px;
  height: 60px;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
  margin-left: 15px;
}
.qixian :global(.am-list-item .am-list-line .am-list-extra){
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.my-radio-box :global(.am-radio ){
  padding: 2.5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}
.image-croper-flex-padding{
  padding: 9px 8px 0;
  margin-bottom: 15px;
}
.image-croper-flex{
  text-align: left;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 6px;
}
.image-croper-box{
  position: relative;
    margin-right: 5px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-left: 8px;
    min-width: 10px;
    margin-left: 0;
    padding-bottom:58%;
}
.image-croper-file{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1PX solid #ddd;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.image-croper-file:after {
  width: 25PX;
  height: 1px;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ccc;
}
.image-croper-file::before{
  width: 1PX;
  height: 25px;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ccc;
}
.image-croper-file input{
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 100%;
}